
<h1>A Simple Form</h1>
<form method="post" action="add">
  <label>Enter Your Name</label><br>
      <input type="text" name="firstName"  placeholder="Enter first name...">
      <input type="text" name="lastName"  placeholder="Enter last name...">
      <input type="submit" value="Add Name">
  </form>
